.whatismyapp-body {
  background-color: antiquewhite;
  font-size: 30px;
  color : black;
  width: auto;
  height: 73vh;
  overflow: scroll;
}

.whatismyapp-message-space {
  width: 100%;
  display:flex;
  flex-direction: column;
}

.whatismyapp-message-history {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.whatismyapp-message {
  display: flex;
  flex-direction: row;
}

.whatismyapp-their-messages {
  justify-content: flex-start;
  align-items: flex-start;
}

.whatismyapp-my-messages {
  justify-content: flex-end;
  align-items: flex-start;
}

.whatismyapp-my-messages .whatismyapp-message-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: right;
}

.whatismyapp-their-messages .whatismyapp-message-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.whatismyapp-my-messages .whatismyapp-message-info {
  justify-content: flex-end;
}

.whatismyapp-their-messages .whatismyapp-message-info {
  justify-content: flex-start;
}

p {
  margin: 0;
  padding: 10px;
  width: 100vh;
}

.whatismyapp-gap {
  height: 100px;
}
